nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#login {
  width: 5%;
}

#calcul {
  width: 40%;
}

ul li {
  list-style: none;
}
#newItinerary, #zoneAdmin {
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 3px;
}
#zoneAdmin{
  font-size: 12px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 3px;
}
#newItinerary:hover, #zoneAdmin:hover {
  background-color: #4caf50; /* Green */
  color: white;
  border: 2px solid lightgreen;
}
#login {
  height: 35px;
  width: 35px;
}
.App{
  background-color: #edf1f3;
}
a {
  color: lightgreen;
  font-family: "Constantia", serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: black;
}

a:visited {
  color: darkgreen;
}
body{
  font-family: "Constantia", serif;
}
input{
  font-family: "Constantia", serif;
}
select{
  font-family: "Constantia", serif;
}
button{
  font-family: "Constantia", serif;
}
