nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#login {
  width: 5%;
}

#calcul {
  width: 40%;
}

ul li {
  list-style: none;
}
#adminItineraryGroup{
  text-align: right;
  justify-content: space-around;
  width: 85%;
  margin-bottom: 15px;
}
#itineraryButton, #adminZoneButton {
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0.5%;
  margin: 0.5%;
  justify-content: space-around;
}
#itineraryButton:hover, #adminZoneButton:hover {
  background-color: #4caf50; /* Green */
  color: white;
  border: 2px solid lightgreen;
}
#login {
  height: 35px;
  width: 35px;
}
.App{
  background-color: #edf1f3;
}
a {
  color: #6cb873;
  font-family: "Constantia", serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: black;
}

a:visited {
  color: darkgreen;
}
body{
  font-family: "Constantia", serif;
}
input{
  font-family: "Constantia", serif;
}
select{
  font-family: "Constantia", serif;
}
button{
  font-family: "Constantia", serif;
}
