nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
#map {
  justify-content: center;
}

#login {
  width: 5%;
  margin: 5px 5px 0 0;
}

#calcul {
  width: 40%;
}

ul li {
  list-style: none;
}
