<h1>Page de gestion, accessible par le client-même, lui permettant de modifier les informations disponibles sur la base de données</h1>
<h2>Entrées sur la BDD :</h2>
<li>
nom,
nom Latin,
Localisation,
categorie,
période de visibilité,
accessible/non-accessible
</li>
