#buttonGroup {
  text-align: center;
  width: 100%;
  margin-bottom: 15px
}
#returnButton{
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  font-size: 12px;
  margin-right: 50px;
  margin-top: 10px;
  padding: 3px;
}
#returnButton:hover{
  background-color: #4caf50; /* Green */
  color: white;
  border: 2px solid lightgreen;
}
