.container {
  width: auto;
  text-align: justify;

}

.container input {
  justify-content: right;

}
.container select{
  justify-content: center;
  text-align: center;


}
.container label {
  text-align: right;
  justify-content: right;
}

table,
th,
td {
  border: 1px solid black;
}

label {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
}
input {
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
  margin: 4px;
  text-align: left;
  width: auto;
  height: auto;
}
#ajouterPoint {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 80%;
}

#disconnectButton {
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: auto;
  font-weight: bold;
}
#modifyEntry {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 80%;
}
.deleteButton {
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: auto;
  font-weight: bold;
}
.modifyButton {
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: auto;
  font-weight: bold;
}

#newUser {
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid blue; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: auto;
  font-weight: bold;
}
select {
  background-color: white;
  font-size: 14px;
  color: black;
  font-weight: lighter;
}
input {
  background-color: white;
  font-size: 14px;
  color: black;
  font-weight: lighter;
  color: grey;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
