.container {
  text-align: justify;
}

table,
th,
td {
  border: 1px solid black;
  background-color: white;
}

#FormModifyEntry label, #FormAddEntry label {
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  display: block;
  float: left;
  text-align: left;
}
input {
  font-size: 16px;
  font-weight: bold;
}
#disconnectButton {
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: auto;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
}
#newUser {
  border: 2px solid #00214e;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: auto;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
}
#disconnectButton:hover{
  background-color: #4caf50; /* Green */
  color: white;
  border: 2px solid lightgreen;
}
#newUser:hover{
  background-color: #00214e; /* Green */
  color: white;
  border: 2px solid lightblue;
}
.addDisconnectGroup{
  text-align: center;
}
#ajouterPoint {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #00214e; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  justify-content: center;
}
#ajouterPoint:hover{
  background-color: #00214e; /* Green */
  color: white;
  border: 2px solid lightblue;
}
#modifyEntry {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
#modifyEntry:hover{
  background-color: green; /* Green */
  color: white;
  border: 2px solid lightgreen;
}
.deleteButton {
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid red; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: auto;
  font-weight: bold;
}
.deleteButton:hover{
  background-color: red; /* Green */
  color: white;
  border: 2px solid #ffcccb;
}
.modifyButton {
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: auto;
  font-weight: bold;
}

select {
  background-color: white;
  font-size: 14px;
  color: black;
  font-weight: lighter;
}
input {
  background-color: white;
  font-size: 14px;
  color: black;
  font-weight: lighter;
  color: grey;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
#titreAdd, #titreModify{
  text-align: center;
}
